aside {
	width:300px;
	z-index:0;
	min-height:100%;
	position:absolute;
	top:0;
	right:-300px;	
	bottom:0;
	overflow-y: auto;
	overflow-x: hidden;
	//opacity:1;
	-webkit-transition: -webkit-transform 500ms ease;
	@media screen and (min-width: 60em) {
		position: fixed;
		right:0;
	}

}
.nav-open aside {
	//opacity:1;
	-webkit-transform: translateX(-300px);

}
.menu-toggle {
	width: 40px;
	height: 40px;
	border: none;
	position:absolute;
	top:10px;
	right:20px;
	z-index:999;

	background: url(../images/nav.svg) no-repeat;
	background-size:40px;
	&.close {
		background: url(../images/close.svg) no-repeat;
	}
	@media screen and (min-width: 60em) {
		display:none;
	}

}

nav.menu {
	width:100%;
	min-height:100%;
	display:block;
	background: red;
	overflow:visible;
	
	padding: 25px 25px 70px 25px;
	box-sizing:border-box;
	ul {
		padding:0;
		margin:0;
	}

}
.nav-open nav.menu {
	
	-webkit-transition: -webkit-transform 500ms ease;
	z-index:9;
}
nav.menu li {
	list-style: none;
	margin: 10px 0;
	a {
		color: #fff;
		//font-weight: bold;
	}
	&._2 {
		padding-left: 10px;
		a {
		color: #ccc;
		}
	}
	&._3 {
		padding-left: 20px;
		a 
		{color: #aaa;}
	}
	&._4 {
		padding-left: 30px;
		a
		{color: #000;}
	}
}

.nav-open .menu-toggle {
	right:-280px;
}
.menulink a {
	background: none;
	border: none;
}

	a.prev, a.next {
		display: inline-block;
		position:absolute;
		top: 10px;
		width:40px;
		height:40px;
		border:none;
		background-repeat: no-repeat;
		background-size:40px;	
		@media screen and (min-width: 60em) {
			position: fixed;
			top: 45%;
			}	
		}
		
		.prev {
			background-image: url(../images/arrow-left.svg);
			left: 20px;

		}
		.next {
			background-image: url(../images/arrow-right.svg);
			left: 80px;
			@media screen and (min-width: 60em) {
				right:320px;
				left:auto;
			}
		}

