body {
	font-family: $headerfont;
		
}
h1, h2, h3, h4, h5, h6 {
	
}


h1 {
	font-family: $headerfont;
	font-weight: 400;
	@include rem(font-size, 3.6rem);
	padding: 0 0 .7em 0;
	margin: 0;
	color: $brand-color;
}
h2 {
	font-family: $headerfont;
	font-weight:400;
	@include rem(font-size, 2.8rem);
	padding: 1rem 0;
	margin: 0;
	text-align: left;
	color: brand-color;
}

h3{
	@include rem(font-size, 2.2rem);
	line-height: 1em;
}
h4{
	@include rem(font-size, 1.6rem);
}
h5{
	//set-font-size(12px);
}
p{
	@include rem(font-size, 1.6rem);
	font-family: $headerfont;
	line-height: $font-size-base * $line-height-base;
	padding: 0	;
}

a {
	text-decoration: none;
	color: red;
}