@import 'mixins';
@import '_normalize';
@import 'variables';
$brand-color: #585858;
$headerfont: "jaf-facitweb", sans-serif;
$font-size-base: 62.5%;
html {
	font-size: $font-size-base;
	height: 100%;
	width:100%;
	overflow-x: hidden;
}
body {
	@include rem(font-size, 1.6rem);
	min-height: 100%;
	position:relative;
	width:100%;
	overflow-x: hidden;
	@media screen and (min-width: 60em) {
		width:auto;
		margin-right:300px;
	}

}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
header {
	height: 50px;
	position:relative;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
figure {
	margin: 20px 0;
	padding: 0;
}
img {
	max-width: 100%;
}
@import 'typography';
@import 'nav';
a.branding {
	background: none;
	border:none;
}

.page-wrapper {
	position:relative;
	width:100%;
	min-height:100%;
	//-webkit-transform: translateX(0);
	-webkit-transition: -webkit-transform 500ms ease;
	//overflow:scroll;
}
.nav-open .page-wrapper {
	-webkit-transform: translateX(-300px);
}
main {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px 20px 100px 30px;
}


.infobox {
	position: relative;
	padding: 20px 10px 10px 10px;
	margin: 50px 0;
	background: #585858;

	p {
		color: #fff;
	}
}

.badge {
	position: absolute;
	top: -10px;
	left: 10px;
	width: 120px;
	height:35px;
	background: red url(../images/folder.svg) no-repeat;
	background-position: 10px center;
	background-size: 16px;
	color: #fff;
	line-height: 35px;
	text-align: right;
	padding: 0 20px;
	box-sizing: border-box;
}

code[class*="language-"] {
	background: transparent;
}
code {
	color: #bbb;
}


.folder li {
	background-image: url(../images/folder.svg);
	background-repeat: no-repeat;
	list-style-type:none;
	padding-left: 20px;
	background-size:16px;
	line-height: $line-height-base/1.8;
}
.title {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	@media screen and (min-width:60em) {
		margin-left:-150px;
	}
	h1 {
		color: red;
		font-weight: 800;
		text-align: center;
	}
	h2 {
		text-align: center;
		margin-bottom: 40px;
		border-bottom: 3px solid #ccc;
	}
}
footer {
	width: 100%;
	height: 30px;
	text-align: center;
	padding:10px;
	line-height:30px;
	position:fixed;
	bottom:0;
	background: red;
	color: #fff;
}

@import 'tables';
@import 'prism';
