/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  min-height: 100%;
  position: relative;
  width: 100%;
  overflow-x: hidden; }
  @media screen and (min-width: 60em) {
    body {
      width: auto;
      margin-right: 300px; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header {
  height: 50px;
  position: relative; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

figure {
  margin: 20px 0;
  padding: 0; }

img {
  max-width: 100%; }

body {
  font-family: "jaf-facitweb", sans-serif; }

h1 {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 36px;
  /* 9 */
  font-size: 3.6rem;
  /* 9 */
  padding: 0 0 .7em 0;
  margin: 0;
  color: #585858; }

h2 {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 400;
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 28px;
  /* 9 */
  font-size: 2.8rem;
  /* 9 */
  padding: 1rem 0;
  margin: 0;
  text-align: left;
  color: brand-color; }

h3 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 22px;
  /* 9 */
  font-size: 2.2rem;
  /* 9 */
  line-height: 1em; }

h4 {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */ }

p {
  /* 3 */
  /* 3 */
  /* 4 */
  /* 6 */
  /* 6 */
  /* 7 */
  font-size: 16px;
  /* 9 */
  font-size: 1.6rem;
  /* 9 */
  font-family: "jaf-facitweb", sans-serif;
  line-height: 151.7857143125%;
  padding: 0; }

a {
  text-decoration: none;
  color: red; }

aside {
  width: 300px;
  z-index: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 500ms ease; }
  @media screen and (min-width: 60em) {
    aside {
      position: fixed;
      right: 0; } }

.nav-open aside {
  -webkit-transform: translateX(-300px); }

.menu-toggle {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
  background: url(../images/nav.svg) no-repeat;
  background-size: 40px; }
  .menu-toggle.close {
    background: url(../images/close.svg) no-repeat; }
  @media screen and (min-width: 60em) {
    .menu-toggle {
      display: none; } }

nav.menu {
  width: 100%;
  min-height: 100%;
  display: block;
  background: red;
  overflow: visible;
  padding: 25px 25px 70px 25px;
  box-sizing: border-box; }
  nav.menu ul {
    padding: 0;
    margin: 0; }

.nav-open nav.menu {
  -webkit-transition: -webkit-transform 500ms ease;
  z-index: 9; }

nav.menu li {
  list-style: none;
  margin: 10px 0; }
  nav.menu li a {
    color: #fff; }
  nav.menu li._2 {
    padding-left: 10px; }
    nav.menu li._2 a {
      color: #ccc; }
  nav.menu li._3 {
    padding-left: 20px; }
    nav.menu li._3 a {
      color: #aaa; }
  nav.menu li._4 {
    padding-left: 30px; }
    nav.menu li._4 a {
      color: #000; }

.nav-open .menu-toggle {
  right: -280px; }

.menulink a {
  background: none;
  border: none; }

a.prev, a.next {
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: 40px; }
  @media screen and (min-width: 60em) {
    a.prev, a.next {
      position: fixed;
      top: 45%; } }

.prev {
  background-image: url(../images/arrow-left.svg);
  left: 20px; }

.next {
  background-image: url(../images/arrow-right.svg);
  left: 80px; }
  @media screen and (min-width: 60em) {
    .next {
      right: 320px;
      left: auto; } }

a.branding {
  background: none;
  border: none; }

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-transition: -webkit-transform 500ms ease; }

.nav-open .page-wrapper {
  -webkit-transform: translateX(-300px); }

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 20px 100px 30px; }

.infobox {
  position: relative;
  padding: 20px 10px 10px 10px;
  margin: 50px 0;
  background: #585858; }
  .infobox p {
    color: #fff; }

.badge {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 120px;
  height: 35px;
  background: red url(../images/folder.svg) no-repeat;
  background-position: 10px center;
  background-size: 16px;
  color: #fff;
  line-height: 35px;
  text-align: right;
  padding: 0 20px;
  box-sizing: border-box; }

code[class*="language-"] {
  background: transparent; }

code {
  color: #bbb; }

.folder li {
  background-image: url(../images/folder.svg);
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 20px;
  background-size: 16px;
  line-height: 1.3492063494; }

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); }
  @media screen and (min-width: 60em) {
    .title {
      margin-left: -150px; } }
  .title h1 {
    color: red;
    font-weight: 800;
    text-align: center; }
  .title h2 {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #ccc; }

footer {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 10px;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  background: red;
  color: #fff; }

table {
  background-color: transparent; }

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left; }

th {
  text-align: left; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2.428571429; }
  table > thead > tr > th,
  table > thead > tr > td,
  table > tbody > tr > th,
  table > tbody > tr > td,
  table > tfoot > tr > th,
  table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.2142857145;
    vertical-align: top;
    border-top: 1px solid #ddd; }
  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd; }
  table > caption + thead > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > th,
  table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  table > tbody + tbody {
    border-top: 2px solid #ddd; }
  table .table {
    background-color: #fff; }

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #ddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell; }

table {
  overflow-x: auto;
  min-height: 0.01%; }
  @media screen and (max-width: 767px) {
    table {
      width: 100%;
      margin-bottom: 113.25%;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd; }
      table > .table {
        margin-bottom: 0; }
        table > .table > thead > tr > th,
        table > .table > thead > tr > td,
        table > .table > tbody > tr > th,
        table > .table > tbody > tr > td,
        table > .table > tfoot > tr > th,
        table > .table > tfoot > tr > td {
          white-space: nowrap; }
      table > .table-bordered {
        border: 0; }
        table > .table-bordered > thead > tr > th:first-child,
        table > .table-bordered > thead > tr > td:first-child,
        table > .table-bordered > tbody > tr > th:first-child,
        table > .table-bordered > tbody > tr > td:first-child,
        table > .table-bordered > tfoot > tr > th:first-child,
        table > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        table > .table-bordered > thead > tr > th:last-child,
        table > .table-bordered > thead > tr > td:last-child,
        table > .table-bordered > tbody > tr > th:last-child,
        table > .table-bordered > tbody > tr > td:last-child,
        table > .table-bordered > tfoot > tr > th:last-child,
        table > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        table > .table-bordered > tbody > tr:last-child > th,
        table > .table-bordered > tbody > tr:last-child > td,
        table > .table-bordered > tfoot > tr:last-child > th,
        table > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+markdown+php+php-extras+scss+yaml */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #fff; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #fff; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

code[class="language-text"],
pre[class="language-text"] {
  line-height: 1; }

/*# sourceMappingURL=theme.css.map */